.mobile--nav {
  display: flex;
  justify-content: space-between;
}
.top--nav {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #fff;
  margin: 1rem 0;
}

.logo {
  // text-align: left;
  padding: 1rem 0;
}

nav .hamburger {
  display: none;
}

nav .hamburger:focus {
  outline: none;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50vw;
  list-style-type: none;
  padding: 0;
}
// nav li {
//   margin-left: 30px;
// }
nav li a {
  color: var(--dark-grayish-violet);
  text-transform: uppercase;
  text-decoration: none;
}

@include respond(phone) {
  nav ul {
    width: 70vw;
  }
}

@include respond(med-phone) {
  nav ul {
    font-size: 1.5rem;
  }
  #menu li a {
    width: 11rem;
  }
}
//mobile
@include respond(sm-phone) {
  .mobile--nav {
    width: 100%;
  }
  nav .hamburger {
    display: block;
    z-index: 5;
  }
  .top--nav {
    flex-direction: column;
  }
  nav ul {
    position: relative;
    flex-direction: column;
    justify-content: stretch;
    font-size: 3.5rem;
    background-color: var(--very-dark-violet);

    width: 100%;
    height: 100vh;
    display: none;
    &::after {
      content: "";
      background-image: url("../images/bg-pattern-mobile-nav.svg");
      background-repeat: no-repeat;
      background-position: bottom right;
      position: absolute;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 100%;
      // z-index: 2;
    }
  }
  #menu li a {
    width: 80vw;
  }
  nav li a {
    color: white;
  }
  nav li {
    padding: 1.5rem 0;
    margin-left: 0;
  }

  .close {
    display: none;
  }
}
.show {
  display: flex;
}
.hide {
  display: none;
}
